.root {
  display: flex;
  flex-direction: row;
  padding-top: 17px;
  padding-bottom: 12px;
  height: 100vh;
  width: 100;
  background-color: hsl(238, 25%, 10%);

  color: #f2f7fe;
}

.rooms {
  background-color: hsl(238, 25%, 15%);
  box-shadow: 0px 0px 13px hsl(238, 30%, 15%);
  margin-left: 20px;
  margin-right: 20px;
  width: 14rem;
  min-width: 14rem;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.addroombtn {
  background-color: hsl(346, 67%, 65%);
  border: rgba(0, 0, 0, 0);
  color: #ffe1f1;
  height: 30px;
  width: 100%;
  margin: 12px;
  font-weight: 600;
  box-shadow: 0px 0px 8px hsl(346, 67%, 65%);
  
  position: relative;
  
}

.addroombtn:hover {
  background-color: hsl(346, 67%, 60%);
  transition: background-color 0.3s;
}

.addroombtn:active {
  background-color: hsl(346, 67%, 53%);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addroombtn .tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 70px;
  background-color: hsl(238, 25%, 10%);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  padding: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 50%;
  margin-left: -100px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* the arrow for tooltips */
.addroombtn .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent hsl(238, 25%, 10%) transparent;
}

/* .addroombtn:hover .tooltiptext { */
/* visibility: visible; */
  /* opacity: 1; */
/* } */