.input {
  position: relative;
  --color-dark: hsl(0, 0%, 100%);
  --color-light: hsl(235, 25%, 10%);
  --color-signal: hsl(346, 67%, 75%);

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;

  margin: 14px;

  cursor: text;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    // background: var(--color-background);
    transition: transform 120ms ease-in;
    font-weight: 600;
  }
  &__field {
    box-sizing: border-box;
    border: 2px solid currentColor;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    font-size: medium;
    // border-radius: var(--size-radius);

    outline: 0;

    min-width: 22rem;

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(-0.25rem, -75%) scale(0.9);
        color: var(--color-accent);
      }
    }
  }
}

.showpsswd {
  position: absolute;
  right: 8px;
  top: 25%;
}

.submit {
  background-color: hsl(346, 67%, 65%);
  border: rgba(0, 0, 0, 0);
  color: #ffe1f1;
  height: 35px;
  width: 22rem;
  margin: 12px;
  font-weight: 600;
  box-shadow: 0px 0px 8px hsl(346, 67%, 65%);
  font-size: medium;
  margin-top: 2rem;
  cursor: pointer;
}

.submit:hover {
  background-color: hsl(346, 67%, 60%);
  transition: background-color 0.3s;
}

.submit:active {
  background-color: hsl(346, 67%, 53%);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inputerror {
  position: absolute;
  left: 3px;
  bottom: -18px;
  font-size: 13px;
  color: hsl(0, 88%, 62%);
  visibility: hidden;
}
