.root {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    "messages"
    "textbox";

  width: 100%;
  padding-right: 20px;
}

.messages {
  grid-area: messages;
}

.textbox {
  grid-area: textbox;
  background-color: hsl(238, 25%, 15%);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 6rem;
  padding: 7px;
  padding-left: 16px;
}

.msginpt {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-color: #555;
  color: #f2f7fe;
  padding-right: 5px;
  font-size: medium;
  &:focus {
    outline: 0;
    border-color: #f2f7fe;
  }
}

.sendbtn {
  background-color: hsl(346, 67%, 65%);
  border: rgba(0, 0, 0, 0);
  color: #ffe1f1;
  font-weight: 600;
  box-shadow: 0px 0px 8px hsl(346, 67%, 65%);
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  width: fit-content;

  &:hover {
    background-color: hsl(346, 67%, 60%);
    transition: background-color 0.3s;
  }

  &:active {
    background-color: hsl(346, 67%, 53%);
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 0.96;
  }
}
